---
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Education from "../components/Education.astro";
import info from "../data/info.json";
import Contacts from "../components/Contacts.astro";
import Competitions from "../components/Competitions.astro";
import BlackLine from "../components/BlackLine.astro";
import Header from "../components/Header.astro";
import type { Lang } from "../types/lang";
const lang: Lang = "en";
---

<Layout title={info.common.title[lang]}>
  <Header lang={lang} />
  <main>
    <div>
      <h1 class="text-4xl mb-3 font-bold text-center py-1">
        {info.personal.name[lang]}
      </h1>
    </div>
    <Contacts lang={lang} />
    <div class="max-w-4xl my-3">
      {info.personal.description[lang]}
    </div>
    <BlackLine />
    <Skills lang={lang} />
    <BlackLine />
    <Projects lang={lang} />
    <BlackLine />
    <Competitions {lang} />
    <BlackLine />
    <Education {lang} />
  </main>
</Layout>
