---
import info from "../data/info.json";
---

<div class="my-2">
  <h3 class="font-bold text-xl">Competitions</h3>
  <div>
    {
      info.competitions.map((comp) => (
        <div class="flex justify-between">
          <div>
            <div class="font-bold">{comp.name}</div>
            <div class="mx-10">
              - {comp.level}, {comp.year}
            </div>
          </div>
          <div>
            <a class="text-right" href={`https://${comp.certificates}`}>
              {comp.certificates}
            </a>
          </div>
        </div>
      ))
    }
  </div>
</div>
