---
import type { Lang } from "../types/lang";
import info from "../data/info.json";

interface Props {
  lang: Lang;
}
const { lang } = Astro.props;
const msg = {
  competitions: {
    en: "Competitions",
    th: "การแข่งขัน",
  },
};
---

<div class="my-2">
  <h3 class="font-bold text-xl">{msg.competitions[lang]}</h3>
  <div>
    {
      info.competitions[lang].map((comp) => (
        <div class="flex justify-between">
          <div>
            <div class="font-bold">{comp.name}</div>
            <div class="mx-10">
              - {comp.level}, {comp.year}
            </div>
          </div>
          <div>
            <a
              class="underline"
              class="text-right"
              href={`https://${comp.certificates}`}
            >
              {comp.certificates}
            </a>
          </div>
        </div>
      ))
    }
  </div>
</div>
