---
import info from "../data/info.json";
import type { Lang } from "../types/lang";

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;

const msg = {
  gpa: {
    en: "gpa",
    th: "เกรดเฉลี่ย",
  },
};
---

<div class="my-2">
  <h3 class="font-bold text-xl">Education</h3>
  <div>
    {
      info.Education.map((edu) => (
        <div>
          <div class="flex justify-between">
            <div class="font-bold">
              {edu.level[lang]}{" "}
              {!!edu.gpa ? `(${msg.gpa[lang]} ${edu.gpa})` : ""}
            </div>
            <div>{edu.years}</div>
          </div>
          <div class="mx-10"> {edu.school[lang]}</div>
        </div>
      ))
    }
  </div>
</div>
