---
import info from "../data/info.json";
import type { Lang } from "../types/lang";

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;

const message = {
  press_btn: {
    en: "You can print this by press or click print button on your right.",
    th: "คุณสามารถพิมพ์เอกสารโดยคลิกที่ปุ่มพิมพ์ที่อยู่ด้านขวา",
  },
  print: {
    en: "print",
    th: "พิมพ์",
  },
  view_source: {
    en: "view source code",
    th: "ดูซอร์สโค้ด",
  },
  navigate_lang: {
    en: "ไปที่ภาษาไทย",
    th: "go to english",
  },
  line: {
    en: "Line ID",
    th: "ไอดีไลน์",
  },
  phone: {
    en: "Phone",
    th: "เบอร์โทร",
  },
  update: {
    en: "update",
    th: "อัพเดท",
  },
  clear: {
    en: "clear",
    th: "ล้าง",
  },
};
---

<header class="print:hidden bg-orange-200 py-10 px-7">
  <div class="flex justify-between">
    <div>
      <div>
        {message.press_btn[lang]}
      </div>
      <div>
        <a
          class="underline hover:text-blue-600 mx-1"
          href={`https://${info.common.source}`}>{message.view_source[lang]}</a
        >
        <a
          class="underline hover:text-blue-600 mx-1"
          href={`/${lang === "en" ? "th" : ""}`}
          >{message.navigate_lang[lang]}</a
        >
      </div>
    </div>
    <div>
      <button
        onclick="print()"
        class="bg-green-300 hover:bg-green-400 py-1 px-3 rounded border-2 shadow"
        >{message.print[lang]}</button
      >
    </div>
  </div>
  <div class="mt-3">
    <div class="my-1">
      <input
        type="text"
        name="phone"
        id="phone"
        placeholder={message.phone[lang]}
      />
    </div>
    <div class="my-1">
      <input
        type="text"
        name="line"
        id="line"
        placeholder={message.line[lang]}
      />
    </div>
    <div>
      <button
        class="border border-white b bg-blue-300 px-3 py-1 rounded"
        id="update-info">{message.update[lang]}</button
      >
      <button
        id="remove-info"
        class="border border-white bg-yellow-300 px-3 py-1"
        >{message.clear[lang]}</button
      >
    </div>
  </div>
</header>

<script is:inline>
  function removeParams(key) {
    const url = new URL(window.location.href);
    const searchParams = url.searchParams;
    searchParams.delete(key);
    url.search = searchParams.toString();
    history.replaceState(null, "", url.toString());
  }
  function updateParams(key, value) {
    const url = new URL(window.location.href);
    const searchParams = url.searchParams;
    searchParams.set(key, value);
    url.search = searchParams.toString();
    history.replaceState(null, "", url.toString());
  }

  // document.getElementById("line").onkeyup = function (e) {
  //   const value = e.target.value;
  //   updateParams("line", value);
  //   window.location.reload();
  // };
  // document.getElementById("phone").onkeyup = function (e) {
  //   const value = e.target.value;
  //   updateParams("phone", value);
  // };
  document.getElementById("update-info").onclick = function () {
    const line = document.getElementById("line").value;
    const phone = document.getElementById("phone").value;
    if (line) updateParams("line", line);
    if (phone) updateParams("phone", phone);
    window.location.reload();
  };
  document.getElementById("remove-info").onclick = function () {
    removeParams("line");
    removeParams("phone");
    window.location.reload();
  };
</script>
