---
import info from "../data/info.json";
import type { Lang } from "../types/lang";

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;

const msg = {
  skills: {
    en: "Skills",
    th: "ทักษะ",
  },
  programming: {
    en: "Programming Languages",
    th: "ภาษาโปรแกรม",
  },
  frameworks: {
    en: "Frameworks",
    th: "เฟรมเวิร์ก",
  },
  tools: {
    en: "Tools",
    th: "เครื่องมือ",
  },
  networks: {
    en: "Network",
    th: "เน็ตเวิร์ก",
  },
  cybersecurity: {
    en: "Cybersecurity",
    th: "ความปลอดภัยทางไซเบอร์",
  },
};
---

<div class="my-2">
  <h3 class="font-bold text-xl">{msg.skills[lang]}</h3>
  <div>
    <div class="mx-8">
      <span class="font-bold">{msg.programming[lang]}</span>:
      <span>
        {info.skills["programming"]}
      </span>
    </div>

    <div class="mx-8">
      <span class="font-bold">{msg.frameworks[lang]}</span>:
      <span>
        {info.skills["frameworks"]}
      </span>
    </div>

    <div class="mx-8">
      <span class="font-bold">{msg.tools[lang]}</span>:
      <span>
        {info.skills["tools"]}
      </span>
    </div>

    <div class="mx-8">
      <span class="font-bold">{msg.networks[lang]}</span>:
      <span>
        {info.skills["networks"]}
      </span>
    </div>

    <div class="mx-8">
      <span class="font-bold">{msg.cybersecurity[lang]}</span>:
      <span>
        {info.skills["cybersecurity"]}
      </span>
    </div>
  </div>
</div>
